$violet-main: #552769;
$violet-text1: #33215b;
$violet-text2: #552768;
$violet-text3: #73628a;
$violet-text4: #62668a;
$violet-text5: rgba(25,15,46,1.0);
$violet-text6: #56206e;
$violet-text7: #340847;
$violet-text8: rgba(244,38,62,.04);
$violet-text9: rgba(31,37,89,.07);
$blue-text: #1f2559;
$blue-text2: #6b7db2;
$white: #FFFFFF;
$black: #000000;
$gray: gray;
$gray2: #f4f4f9;
$gray3: rgba(248, 247, 255, 1);
$gray4: #e7e8f1;
$red: rgba(210,86,87,1.0);
$red2: rgba(186,66,66,1.0);
$green: rgb(48, 132, 33);
$green2: rgba(90,186,72,1.0);

